*{box-sizing: border-box;}

body {
  margin: 0 auto;
  border-top: 8px solid #6CC6C4;
  background-color: #F6F6F6;
  color: rgb(97, 91, 91);
}


header {
  /* background-color: khaki; */
  max-width: 920px;
  margin: auto;
}
#header-top {
  display: flex;
  justify-content: space-between;
  /* height: 130px; */
}

#header-top img {
  height: 50%;
  margin-top: 25px;

}


#header-conteiner h6 {
  margin-top: 20px;
  font-weight: 150;
}

.fa-phone-alt {
  margin: 0;
  display: block;
  font-size: 25px;
  letter-spacing: 1px;
}

#header-conteiner p {
  font-size: 10px;
  border: 1px solid rgb(209, 191, 191);
  text-align: center;
  padding: 5px; 0 5px 0
}

#header-conteiner span {
  color: red;
}

.container {
  max-width: 920px;
}

nav {
  color: white;
  text-shadow: 5px 5px 10px gray;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  border: 1px solid #89D7D5;
  height: 70px;
  /* border-radius: 6px; */
  background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
  padding: 20px 10px;
  width: 100%;
  text-align: center;
}
.left {
  border-radius: 6px 0 0 6px;
}

.right {
  border-radius: 0 6px 6px 0;
}
.ja {
  font-weight: bold;
  margin: 0;
}

.en {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
}

.main {
  /* background-color: lightcoral; */
  width: 70%;
  margin-left: 20px;
}

.new-info {
  padding: 30px;
  background-color: white;
  margin-top: 10px;
}
.midasi {
  border-bottom: 3px solid #6CC6C4;
}
.main h4 {
  font-size: 16px;
}

.main img {
  width: 100%;
  height: 280px;
}
.line {
  display: flex;
  border-bottom: 1px dotted gray;
  padding-bottom: 8px;
  padding-top: 8px;
}
dt {
  font-size: 13px;
  font-weight: bold;
  width: 25%;
}

dd {
  font-size: 13px;
  width: 80%;
  margin: 0;
  padding-left: 20px;
}

.side {
  /* background-color: lightseagreen; */
  width: 30%;
}

.menu {
  margin-bottom: 20px;
}

.menu h3 {
  background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
  color: white;
  margin: 0;
  border: 1px solid #89D7D5;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 5px 25px;
}

.menu ul {
  margin: 0;
  padding-bottom: 20px;
  background-color: white;
  border:  1px solid #6CC6C4;
}

.menu li {
  list-style: square;
  border-bottom: 1px solid paleturquoise;
  padding: 10px 0 10px 0;
  font-size: 14px;
  margin: 0 12px;
}

footer {
  /* background-color: lightsteelblue; */
  width: 920px;
  margin: auto;
  margin-top: 20px;
}

.footer-navi {
  background-color: #89D7D5;
  border-radius: 10px;
  border: 1px solid #89D7D5;
}

.footer-navi ul {
  display: flex;
  list-style: circle;
  margin: 0;
  flex-wrap: wrap;
}

.footer-navi li {
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 5px 30px 5px 5px;
}

.adress {
  text-align: right;
  color: gray
}

.coptright {
  font-size: 12px;
  text-align: center;
  border-top: 3px solid #89D7D5;
  padding: 10px;
}

@media (max-width: 670px) {
  header {
    text-align: center;
    width: 100%;
    height: auto;
  }
  
  #header-top img {
    margin: 0;
  }

  #header-top {
    display: block;
  }

  #header-conteiner {
    /* padding-right: 100px; */
  }
  #header-conteiner h6 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  #header-conteiner p {
    display: inline;
    padding: 10px 30px;
  }

  .fas  {
    padding-bottom: 10px;
  }
  nav ul {
    /* width: 100%; */
    /* display: flex; */
    flex-wrap: wrap;
    margin-top: 20px;
  }

  nav  li {
    width: 50%;
  }



  .container {
    display: block;
  }
  .main {
    width: 100%;
  }

  .main img {
    max-width: 100%;
    height: auto;
  }
  
  .side {
    width: 95%;
    margin: 20px;
  }

  footer {
    width: 95%;
    margin: 20px;
  }
  .adress span {
    display: block;
    text-align: right;
  }
}